
   
   #index-body {
    background-color: lightblue;  
   }
   
   #index-title{
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    background-color: lightblue;
    padding:10px 25px;  
   }
   
   .section-title{
    font-family: 'Red Hat Mono', monospace;
    color: rgb(0, 0, 0);
    background-color:#3D9970;
    text-align: center;
    padding:10px 25px;
   }
   
   ul{
    list-style-type: "\21AA";
    font-weight:bold;
    color: rgb(107, 43, 6);
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Stint Ultra Condensed', cursive;
    font-family: 'Truculenta', sans-serif;
    font-size: 18px;
    line-height: 0.7cm;
   }
   
   .sub-title{
    font-family: 'Smokum', cursive;
    font-size: 25px;
    text-indent: 0.3cm;
    font-weight: bold;
   }
   
   #s1{
    font-family: 'Inconsolata', monospace;
    font-size: large;
    text-indent: 0.3cm;
    font-weight: bold;
   }
   
   #india-title{
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    padding:10px 25px;
    background-color: rgb(195, 217, 236);
   }
   .ind-title{
    font-family: 'Merienda', cursive;
    text-align: center;
    color: azure;
    background-color: rgb(0, 0, 0);
    font-weight:bold;
    padding:10px 25px;
    font-size: 30px;
   }
   .para-sty{
    font-family: 'Josefin Sans', sans-serif;
    color: #ecbf7c;
    padding: 50px;
    font-size: 20px;
    width: 300px;
    margin: 20px;
    border:15px #d3ab61;
    font-size:22px;
   }
   
   img{
    border-radius:8px ;
    height: 500px;
    vertical-align:bottom;
   }
   
   span{
    display: inline-block;
   }
   
   footer {
    font-family: 'Sansita Swashed', cursive;
    background-color: antiquewhite;
    text-align: center;
    padding: 5px;
    font-size: 18px;
    font-weight:bold;
   }